@{
    ViewBag.Title = "Rate";
}

<div id="bodyContainer" ng-app="MovieApp">
    <section id="content">
        <div class="container" ng-controller="RateCtrl" ng-init="getMovieTips()">
            <div class="row">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Suggested movies</div>
                    <div class="panel-body">
                        <p ng-show="working">{{title}}</p>


                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="(idx, movie) in movieTips" ng-disabled="working">
                                {{movie.title}} ({{movie.year}})
                                @*<ng-rate-it
                                    ng-model="scope.rating"
                                    min="0"
                                    max="5"
                                    step="1"
                                    resetable="False"
                                            >
                                </ng-rate-it>*@
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<div ng-app="app" ng-controller="RatingController as rating" class="container">
    <h1>Angular Star Rating Directive</h1>
    <div star-rating ng-model="rating.rating1" max="10" on-rating-select="rating.rateFunction(rating)"></div>
    <star-rating ng-model="rating.rating2" readonly="rating.isReadonly"></star-rating>
    <label>
        <input type="checkbox" ng-model="rating.isReadonly" />
        Is Readonly
    </label>

    <div><strong>Rating 1:</strong> {{rating.rating1}}</div>
    <div><strong>Rating 2:</strong> {{rating.rating2}}</div>
</div>
