@{
    ViewBag.Title = "Rate";
}

<div id="bodyContainer" ng-app="MovieApp">
    <section id="content">
        <div class="container" ng-controller="RateCtrl" ng-init="getMovieTips()">
            <div class="row">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Suggested movies</div>
                    <div class="panel-body">
                        <p ng-show="working">{{title}}</p>


                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="(idx, movie) in movieTips" ng-disabled="working">
                                {{movie.title}} ({{movie.year}}) <input id="input-id" type="number"
                                                                        class="rating" min="1" max="5" step="1" data-size="sm" showClear="false" showCaption="false" glyphicon="false">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
